<%- include('../partials/header.ejs') %>

  <header class="header">
    <h1>JTE Collective</h1>
    <div class="nav-buttons">
        <a href="/listings"><button class="button">Browse</button></a>
        <a href="/listings/new"><button class="button">New Listing</button></a>
    </div>
  </header>
  <section class="edit-listing-form">
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST">

        <label>Title:
          <input type="text" name="title" value="<%= listing.title %>" required>
        </label><br>
      
        <label>Description:
          <input type="text" name="description" value="<%= listing.description %>" required>
        </label><br>

        <label>Price:
            <input type="number" name="price" min="0" value="<%= listing.price %>" required>
        </label><br>

        <label>Category:
          <select name="category" required>
            <option value="Electronics" <%= listing.category === 'Electronics' ? 'selected' : '' %>>Electronics</option>
            <option value="Bikes" <%= listing.category === 'Bikes' ? 'selected' : '' %>>Bikes</option>
            <option value="Pets" <%= listing.category === 'Pets' ? 'selected' : '' %>>Pets</option>
            <option value="Clothing" <%= listing.category === 'Clothing' ? 'selected' : '' %>>Clothing</option>
          </select>
        </label><br>

        <!-- <label>Image:
            <input type="file" id="image" name="image" value=""/>
        </label> -->

        <label>Sold?
            <input type="checkbox" name="sold" <% if (listing.sold){ %> checked<% } %>>
        </label>

        <button type="submit">Edit Listing</button>
      
      </form>
      <p><%= errorMsg %></p>
  </section>

  <%- include('../partials/footer.ejs') %>