<%- include('../partials/header.ejs') %>

    <header class="header"> <!-- TODO: put in header partial -->
        <h1>JTE Collective</h1>
        <div class="nav-buttons">
            <a href="/listings"><button class="button">Browse</button></a>
            <a href="/listings/new"><button class="button">New Listing</button></a>
        </div>
    </header>
    <section class="categories">
        <h1>
            <%= listing.title%>
        </h1>
        <p>$<%= listing.price%>
        </p>
        <% if(listing.category.length){%>
            <p>Category</p>
            <ul>
                <% listing.category.forEach(c=>{%>
                    <li><%=c.title%></li>
                <% })%>
            </ul>
        <% } %>
        <p>Add to Category</p>
        <form method="POST" action="/listings/<%=listing._id%>/categories">
            <select name="categoryId">
                <% categories.forEach(c =>{%>
                    <option value="<%= c._id %>"><%= c.title %></option>
                <%})%>
            </select>
            <input type="submit" value="Add Category" />
        </form>
        <!-- <p>Category: <%#= currentCategory.title%>
        </p> -->
        <!-- TOOD: remove description -->
        <p>
            <%= listing.description%>
        </p>
        <p>Posted: <%= listing.listingDate.toLocaleString() %>
        </p>
        <% if(listing.sold===false){ %>
            <p>For Sale</p>
            <% } else if(listing.sold===true) { %>
                <p>Sold</p>
                <%}%>


        <a href="/listings/<%=listing._id%>/edit"><button>Edit</button></a>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
            <button type="" submit>Delete</button>
        </form>
    </section>

    <section class="bids">
        <h2>Bids</h2>
        <% if (auctions.length> 0){ %>
            <% auctions.forEach((a)=>{ %>
                <p>
                    $<%=a.offer%> <% if (a.accepted){ %>Accepted<% } else { %>Pending<% } %>
                </p>
                <form action="/listings/<%= listing._id %>/auction/<%=a._id%>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
                <% }) %>
                    <% } %>
                        <form action="/listings/<%=listing._id%>/auction/new" method="POST">
                            <label>Offer: $
                                <input type="number" min="0" step="0.01" name="offer" required>
                            </label>
                            <button type="submit">Place Bid</button>
                        </form>
    </section>

    <%- include('../partials/footer.ejs') %>