<%- include('../partials/header.ejs') %>
    <section class="categories">
        <h1>
            <%= listing.title%>
        </h1>
        <p>$<%= listing.price%>
        </p>
        <!-- TOOD: remove description -->
        <p>
            <%= listing.description%>
        </p>
        <!-- TODO: REMOVE IF, IF WE REMOVE ORPHANS-->
        <p>Posted: <%= listing.listingDate.toLocaleString() %><% if(listing.username) {%> by <%= listing.username %> <% } %>
        </p>
        <% if(listing.sold===false){ %>
            <p>For Sale</p>
            <% } else if(listing.sold===true) { %>
                <p>Sold</p>
                <%}%>

        <% if(user?._id.equals(listing.user)){ %>
        <a href="/listings/<%=listing._id%>/edit"><button>Edit</button></a>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
            <button type="" submit>Delete</button>
        </form>
        <%}  %>
    </section>

    <section class="bids">
        <h2>Bids</h2>
        <% if (auctions.length> 0){ %>
            <% auctions.forEach((a)=>{ %>
                <p>
                    $<%=a.offer%> <% if (a.accepted){ %>Accepted<% } else { %>Pending<% } %>
                </p>
                <!-- TODO: ADD AUCTION EQUALS FUNCTION WITH USER.ID-->
                <form action="/listings/<%= listing._id %>/auction/<%=a._id%>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
                <% }) %>
                    <% } %>
                    <% if (user) { %>
                        <form action="/listings/<%=listing._id%>/auction/new" method="POST">
                            <label>Offer: $
                                <input type="number" min="0" step="0.01" name="offer" required>
                            </label>
                            <button type="submit">Place Bid</button>
                        </form>
                    <% } %>
    </section>

    <%- include('../partials/footer.ejs') %>