<%- include('./partials/header.ejs') %>

  <header class="header"> <!-- TODO: put in header partial -->
    <h1>JTE Collective</h1>
    <div class="nav-buttons">
      <a href="/listings"><button class="button">Browse</button></a>
      <a href="/listings/new"><button class="button">New Listing</button></a>
    </div>
  </header>
  <section class="categories">
    <% for (let list of listings){ %>
      <p><%= list.title%></p>
      <p>$<%= list.price%></p>
      <!-- TOOD: remove description -->
      <p><%= list.description%></p>
      <p><%= list.listingDate %></p>
      <% if(list.sold === false){ %>
      <p>For Sale</p>
      <% } else if(list.sold === true) { %>
      <p>Sold</p>
      <%}%>
    <% }%>
    <div class="category"></div>
  </section>

  <%- include('./partials/footer.ejs') %>