<%- include('./partials/header.ejs') %>

  <header class="header"> <!-- TODO: put in header partial -->
    <h1>JTE Collective</h1>
    <div class="nav-buttons">
      <a href="/listings"><button class="button">Browse</button></a>
      <a href="/listings/new"><button class="button">New Listing</button></a>
      <a href="/categories/new"><button class="button">New Category</button></a>
    </div>
  </header>
  <section class="listings">
    <% for (let list of listings){ %>
      <section class="list">
        <p>
          <%= list.title%>
        </p>
        <p>$<%= list.price%>
        </p>
        <% if(list.category.length){%>
          <% list.category.forEach(c=>{%>
            <p>Category: <%=c.title%></p>
          <% })%>
        <% } %>
        <p>Posted: <%= list.listingDate.toLocaleString() %>
        </p>
        <p><a href="/listings/<%=list._id%>">More Info</a></p>
      </section>
      <% }%>
  </section>

  <%- include('./partials/footer.ejs') %>