<%- include('./partials/header.ejs') %>

  <header class="header"> <!-- TODO: put in header partial -->
    <h1>JTE Collective</h1>
    <div class="nav-buttons">
      <a href="/listings"><button class="button">Browse</button></a>
      <a href="/listings/new"><button class="button">New Listing</button></a>
    </div>
  </header>
  <section class="listings">
    <% for (let list of listings){ %>
      <section class="list">

       <div id="Title-Price">
        <p class="P1">
          <%= list.title%>
        </p>
        <p class="P2">
          $<%= list.price%>
        </p>
        </div>

        <div id="Post-Info">
        <p class="P3">
          Posted: <%= list.listingDate.toLocaleString() %>
        </p>
        <p class="P4">
          <a href="/listings/<%=list._id%>">More Info</a>
        </p>

      </section>
      <% }%>
  </section>

  <%- include('./partials/footer.ejs') %>