<%- include('./partials/header.ejs') %>


  <section class="listings">
    <% for (let list of listings){ %>
      <section class="list">
        <p>
          <%= list.title%>
        </p>
        <p>$<%= list.price%>
        </p>
        <p>Posted: <%= list.listingDate.toLocaleString() %>
        </p>
        <p><a href="/listings/<%=list._id%>">More Info</a></p>
      </section>
      <% }%>
  </section>

  <%- include('./partials/footer.ejs') %>